{% extends 'print/base.html' %}

{% block content %}

	<div class="bar">
		{% include 'print/navbar.html' %}
	</div>
	
	<section>
		<div class="cnd-banner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">TERMS AND CONDITIONS</h1>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9">
					<div class="cnd-txt">
						<p>Limitations of Liability</p>
						<ol>
							<li>Printweza's liability with respect to all claims of any kind, whether
							based on contract, indemnity, warranty, tort (including
							negligence), strict liability or otherwise, for all losses or
							damages arising out of, connected with, or resulting from this
							agreement, or these terms and conditions, or from the
							performance or breach thereof, or from any goods or services
							covered by or furnished under the agreement or any extension
							or expansion thereof (including remedial warranty efforts),
							shall in no case exceed the price allocable to the specific goods
							or services that gives rise to the claim. all such liability shall
							terminate upon the expiration of the warranty period specified
							above.</li>

							<li>In no event, whether based on contract, indemnity, warranty, tort
							(including negligence), strict liability or otherwise, shall
							printweza, its employees, agents, suppliers and affiliates be liable
							for special, incidental, punitive, exemplary or consequential
							damages including, but not limited to, loss of profits or revenue,
							loss of use of any property, cost of capital, cost of purchased
							power or energy, cost of substitute equipment, facilities or
							services, business interruption costs, downtime costs, injury to
							person or property or death, or claims of purchasers of
							purchaser for such damages or losses, and purchaser will
							indemnify printweza, its employees, agents, suppliers and affiliates
							against any such claims from purchaser's purchasers. if
							purchaser resells goods sold hereunder to any third party who
							is not a consumer of printweza's goods, purchaser shall obtain
							from such third party a provision affording printweza and its
							suppliers the protection of the preceding sentence. Any action or
							suit by Purchaser against Printweza relating to the Sales Agreement of the goods
							and/or services covered hereby must be brought within one (1) year of the date of
							invoice for such goods or services. The parties hereto acknowledge and agree that this
							is a commercial transaction.</li>
						</ol>
						<p>Content of the image files, damage of third party rights</p>
						<ol>
							<li>The Purchaser is solely responsible for the content of any submitted image files.</li>
							<li>The customer warrants, that he will not submit any image file that infringes any patent,
							trademark, copyright or other intellectual or proprietary right of any party. The customer
							could be liable to pay substantial claims for indemnification by a third party for
							infringing copyright laws. The customer is liable for all consequences of violation of
							aforementioned rights and indemnifies printweza from all liability.</li>
							<li>When executing a Purchase Agreement, the Purchaser is responsible for ensuring that
							all uploaded image files do not violate any law, especially laws related to child
							pornography. printweza reserves the right to report any images that printweza judges
							as potential violations of the law to the applicable authorities.</li>
						</ol>
						<p>These Terms and any document relating thereto shall be governed by and interpreted
						according to the laws of Kenya</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'print/footer.html' %}
{% endblock %}