{% extends 'print/base.html' %}

{% block content %}
	<div class="bar">
		{% include 'print/navbar.html' %}
	</div>

	<section class="tc-p">
		<div class="cnd-banner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">PRIVACY POLICY</h1>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9">
					<div class="cnd-txt">
						<p>We are committed to protecting the privacy of your personal information. As part of this
						commitment, we have developed this Privacy Policy, which outlines the principles and
						guidelines by which Printweza operates to protect the personal information we collect, use,
						disclose or otherwise manage in the course of our operations.</p>
						<p>What personal information does Printweza collect?</p>
						<ol>
							<li>In the course of conducting business with you, Printweza collects both personal and
							non-personal information. Personal information is any information that identifies you, or
							by which your identity could be deduced, including, without limitation, your name, e-
							mail address, home address, telephone number, age, marital status, gender, income,
							date of birth, Mpesa number, and any other information that identifies who you are or
							would allow someone to contact you.</li>
							<li>The documents you have submitted for printing</li>
						</ol>
						<p>Third Party Links</p>
						<ol>
							<li>Printweza's websites located at www.Printweza.com may provide links to third party
							websites as a convenience to the user. The inclusion of any link does not imply
							Printweza's endorsement of any other company, its websites, or its products and/or
							services. These linked websites have separate and independent privacy policies, which
							we recommend that you read carefully. We have no control over such websites and
							therefore assume no responsibility or liability for the manner in which the organizations
							that operate such linked websites may collect, use or disclose and otherwise treat your
							personal information.</li>
						</ol>
						<p>Limitations on Use, Disclosure and Retention of Personal Information</p>
						<ol>
							<li>Personal information will not be used or disclosed for the purposes other than those for
							which it was collected, except with the consent of the individual or as required by law.
							Personal Information will be retained only for as long as is required or appropriate to
							fulfill the identified purpose.</li>
							<li>Printweza will record any new purpose for which it has obtained an individual's consent
							to use, retain or disclose information.</li>
							<li>Printweza does not sell, rent or trade personal information. Personal information is only
							disclosed to third parties who have signed an agreement binding them to Printweza's
							Privacy Policy.</li>
							<li>Printweza will establish criteria for the retention of personal information, including, as
							appropriate, minimum and maximum retention periods.</li>
							<li>Personal information that has been used to make a decision about an individual will be
							retained for a reasonable period to allow the individual access to the information after
							the decision has been made.</li>
							<li>The documents you have submitted will be open to deletion from our servers by you at
							any time. No copies of the work will be saved once you delete them.</li>
						</ol>
						<p>Consent</p>
						<ol>
							<li>The cornerstone to protecting your privacy is consent. We will only collect, use, and
							disclose your personal information with your consent except where otherwise permitted
							or required by law. Depending on the type of personal information collected from you,
							and the purpose for which the information is collected, your consent may be express or
							implied. Express consent can be granted verbally, in writing, in person, electronically, or
							by telephone. Your consent is implied if we ask you to provide personal information
							with a stated purpose.</li>
							<li>By using printweza and providing Printweza with your personal information , you
							agree and consent that we may collect, use and disclose your personal
							information in accordance with this Privacy Policy. If you provide us with the
							personal information of another individual, you represent that you have all necessary
							authority and/or have obtained all necessary consents from such individual to enable
							us to collect, use and disclose such personal information for the purposes set forth in
							this Privacy Policy.</li>
						</ol>
						<p>Security Safeguards</p>
						<ol>
							<li>Printweza strives to ensure that its security measures will protect personal information
							against such risks as loss or theft, unauthorized access, disclosure, copying, use,
							modification or destruction, regardless of the format in which the information is held.
							Such measures will vary depending on the sensitivity, amount, format, nature and
							storage of the information and will involve, as applicable, physical, administrative,
							technological, as well as electronic and online security measures. More specifically,
							personal information collected for the purpose of placing an order with Printweza will
							be transmitted through a secure webpage (https).</li>
							<li>Printweza assumes no liability if your personal information is stolen, intercepted,
							altered, misused or otherwise interfered with by a third party.</li>
							<li>All employees of Printweza and patnering party ChapaCopy with access to personal
							information are required, as a condition of their employment, to keep such information
							confidential.</li>
							<li>Printweza shall use reasonable efforts to ensure that upon disposal and/or destruction
							of records, confidentiality of information shall be maintained.</li>
						</ol>
						<p>This Privacy Policy may be updated and revised from time to time. All changes to our
						Privacy Policy will be posted on this website. Whenever we update this Privacy Policy, we will
						change the date to reflect the last date of revision.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'print/footer.html' %}
{% endblock %}