{% extends 'print/base.html' %}

{% block content %}
	{% include 'print/navbar.html' %}

	<section class="total mb-5">
		<div class="container">
			<div class="p-tl">
				<div class="row">
					<div class="col-md-6 tl-txt">
						<h5>Printing Subtotal:</h5>
						<h5>Delivery Fee:</h5>
					</div>

					<div class="col-md-6 tl-v">
						<h5>Ksh. {{ document.price_calc }}</h5>
						<h5>Ksh. 30</h5>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6 pt-3 tl-txt">
						<h5>Total:</h5>
					</div>

					<div class="col-md-6 pt-3 tl-v">
						<h5>Ksh. {{ document.total_price }}</h5>
					</div>
				</div>	
			</div>

			<div class="col-md-10 pt-4">
				<h4 class="pl-3 pb-2">Payment Instructions</h4>
				
				<div class="t-text">
					<p>1. On your Mpesa menu go to Lipa na Mpesa</p>
					<p>2. Select Buy goods and services</p>
					<p>3. Enter Till Number as 561576</p>
					<p>4. Enter amount</p>
					<p>5. Enter your Mpesa Pin</p>
					<p>6. Once you've paid hit on the "Okay" button</p>
				</div>

				<p class="pl-3">Your printed document will be delivered to you within 30 minutes of receipt of your payment</p>
			</div>

			<div class="text-left mt-4">
				<a class="btn" href="{% url 'done' %}">OKAY</a>
			</div>
		</div>
	</section>

	{% include 'print/footer.html' %}
{% endblock %}