{% extends 'print/base.html' %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% block content %}
	{% include 'print/navbar.html' %}

	<section class="pr">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<h3 class="text-center">Enter New Password</h3>
					<p class="text-center">Please enter your new password twice so that we can verify you typed it correctly</p>
					<div class="frm">
						<form method="POST">
							{% csrf_token %}

							{{ form | crispy }}

							<div class="text-center">
								<button class="btn btn-block">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include 'print/footer.html' %}
{% endblock %}